<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>工单添加页面</title>
</head>
<body>
<div class="container">
    <form class="form-horizontal" role="form" th:action="@{/workorder/add}" method="POST">
        <div class="form-group">
            <label for="number" class="col-sm-2 control-label">工单号</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="number" name="number" placeholder="请输入工单号"/>
            </div>
            <div class="col-sm-6">
                <p class="help-block">请在这里输入工单号</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">工单类别</label>
            <div class="col-sm-8">
                <!--/*@thymesVar id="categories" type="com.yq.entity.Category"*/-->
                <div class="col-sm-2" th:each="category : ${categories}">
                    <div class="checkbox">
                        <label>
                            <input type="radio" name="category" th:text="${category.name}" th:value="${category.id}"/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <!--占位-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">关键词</label>
            <div class="col-sm-8">
                <!--/*@thymesVar id="keywords" type="com.yq.entity.Keyword"*/-->
                <div class="col-sm-3" th:each="keyword : ${keywords}">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="keywords" th:text="${keyword.name}" th:value="${keyword.id}"/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <!--占位-->
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-8">
                <button type="submit" class="btn btn-default">提交</button>
            </div>
        </div>
        <input type="hidden" id="token" name="token" th:value="${token}" />
    </form>
</div>
</body>
</html>