<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yq.dao.KeywordMapper">
    <resultMap id="KeywordMap" type="Keyword">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="name" property="name"/>
    </resultMap>

    <sql id="selectAll">
        SELECT *
        FROM t_keyword
    </sql>

    <insert id="insert" parameterType="Keyword">
        INSERT INTO t_keyword(create_time , update_time , name) VALUES(#{createTime} , #{updateTime} , #{name})
        <selectKey keyColumn="id" keyProperty="id" order="AFTER" resultType="long">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="select" resultMap="KeywordMap">
        <include refid="selectAll"/>
        <where>
            <if test="keyword != null">
                <if test="keyword.id != null">id = #{keyword.id}</if>
                <if test="keyword.name != null">AND name = #{keyword.name}</if>
            </if>
        </where>
    </select>

    <select id="selectAll" resultMap="KeywordMap">
        <include refid="selectAll"/>
        <if test="index != null and size != null">
            LIMIT #{index} , #{size}
        </if>
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM t_keyword
    </select>

    <delete id="delete" parameterType="long">
        DELETE FROM t_keyword
        WHERE id = #{id}
    </delete>
</mapper>